.img-placeholder {
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow: hidden;
}

.img-placeholder img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}